<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="IUtm1"
                address="http://localhost:1880"
                binding="webHttpBinding"
                bindingConfiguration="webHttpBindingConfig"
                contract="Egais.Utm.IUtm"
                behaviorConfiguration="webHttpBehavior"
                />
      <endpoint name="IUtm2"
                address="http://localhost:1880"
                binding="webHttpBinding"
                bindingConfiguration="webHttpBindingConfig"
                contract="Egais.Utm.IUtm"
                behaviorConfiguration="webHttpBehavior"
                />
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
